.pcontainer {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  top: 0;
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.dark-theme .pcontainer {
  background-color: #222;
  color: #fff;
}

h2 {
  margin-top: -17px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  display: flex;
}
h3 {
  font-size: 15px;
  margin-top: -20px;
  width: 100%;
}

.payment-methods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 15px;
  gap: 10px;
}
.payment-method {
  width: auto;
  text-align: center;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  margin-bottom: 10px;

  &:hover {
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.dark-theme .payment-method {
  background-color: #333;
  border-color: #555;
}

.payment-method img {
  width: 10px;
  height: 25px;
  margin-bottom: 10px;
}

.credit-card-info {
  margin-bottom: 20px;
  font-size: 15px;
}

.pform-group {
  margin-bottom: 10px;
  font-size: 10px;
}

label {
  display: block;
  margin-bottom: 5px;


}

input[type="text"],
input[type="checkbox"] {
  width: 44%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.dark-theme input[type="text"],
.dark-theme input[type="checkbox"] {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.pbutton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark-theme .pbutton {
  background-color: #4CAF50;
}

.dark-theme .pbutton:hover {
  background-color: #45a049;
}

.p-group {
  display: flex;
  width: 44%;
  gap: 1rem;
}
.p-group input {
  width: 100%;
 
}
.saveDetails{ 
  margin-top: -18px;
  margin-left: 16px;
}